# Logs
logs
*.log
npm-debug.log*

# Build / deps
node_modules
dist
dist-ssr
*.local

# Ambiente
.env*
!.env.example

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Supabase CLI
.supabase

projeto-original

# Vercel CLI
.vercel
